<%- include('./includes/head', { siteTitle: '404 | ' + themeConfig.siteName }) %>

<body>

<%- include('./includes/header') %>

<div class="error-page">
    <div class="error-page-container">
        <h1>404</h1>
        <p>你来到了没有知识的荒原</p>
        <a href="/" class="back-home">返回首页</a>
    </div>
</div>

<%- include('./includes/footer') %>

</body>
</html>
